extends layout

append header
    script(src='/javascripts/login.js')

append content
    div(class='mainDiv')
        h1= title
        h4 Login

        form(class='loginDiv well')

            div(class='loginInput form-group inner-addon left-addon')
                span(class='glyphicon glyphicon-user')
                input#inpLoginUsername(class="form-control" placeholder="Username")

            div(class='loginInput form-group inner-addon left-addon')
                span(class='glyphicon glyphicon-lock')
                input#inpLoginPassword(class="form-control" placeholder="Password" type="password")

            div(class='loginInput')
                button#btnLogin(class='btn btn-primary') Login

            div(class='loginInput')
                a(href='/register') Create Account
