extends layout

append header
    script(src='/javascripts/register.js')

append content
    div(class='mainDiv')
        h1= title
        h4 Register

        form(class='loginDiv well')

            div(class='loginInput form-group inner-addon left-addon')
                span(class='glyphicon glyphicon-user')
                input#inpCreateUsername(class="form-control" placeholder="Username")

            div(class='loginInput form-group inner-addon left-addon')
                span(class='glyphicon glyphicon-lock')
                input#inpCreatePassword(class="form-control" placeholder="Password" type="password")

            div(class='loginInput')
                button#btnCreateAct(class='btn btn-info') Sign Up

            div(class='loginInput')
                a(href='/login') Already have an account?
