extends layout

append header
    script(src='/javascripts/todolist.js')

append content
    div(class='mainDiv well')
        h1= title
        h4 Things to do:

        table#todolist(class='table table-bordered table-hover table-condensed')

        div(class='buttonPanel')
            button#btnAddTodo(class='btn btn-primary') Add Item
        div(class='buttonPanel')
            button#btnSave(class='btn btn-warning') Save
