body {
    padding: 30px;
}

table {
    text-align: left;
}
table tr td div {
    display: inline-block;
}
table tr td.todoInput {
    width: 95%;
}
table tr td.todoInput input {
    width: 100%;
}
table tr td.todoDone {
    text-align: right;
    padding-top: 13px !important;
    width: 5%;
}

.mainDiv {
    margin: auto;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
}

.buttonPanel {
    margin: 6px;
}

.loginDiv {
    margin: auto;
    width: 75%;
}
.loginInput {
    margin-bottom: 5px;
}
.loginInput .glyphicon {
    margin: 5px;
}
.loginInput button {
    width: 100%;
}

.inner-addon {
    position: relative;
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 5px;
    pointer-events: none;
}
.left-addon .glyphicon {
    left: 0px;
}
.left-addon input {
    padding-left: 30px;
}
